@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Beer ME!</h1>
    <p class="lead">Life will be easier with us</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to our Shop</h2>
        <p>
            Where you can buy all kind of beers from around the World
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Buy A Beer</h2>
        <p>Tell us what you are looking for </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Why Us</h2>
        <p>We are passionate about the beer and we have got everything you might wish for!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
