@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BEERME!</h1>
    <p class="lead">BEERME! is the best way to get more booze for your buck. Life will be more tolerable with us</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to our Catalogue</h2>
        <p>
            All kinds of beers from all over the world!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Choose your tipple</h2>
        <p>Tell us what you're looking for</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Why us</h2>
        <p>We are passionate about getting loaded and have everything you could ever wish for!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>